.bg-nav{
  
    background-color: rgba(68, 138, 208, 0.877) ;
  }
 .nav-link{
   /* border: 1px solid rgb(255, 255, 255); */
  font-weight: 700;
  color: rgb(255, 255, 255);
    /* padding: 2px 0px; */
   margin-right: 20px;
  }
  h6:hover{
   color: rgb(255, 1, 1);
  }
  