.bg-nav{
  
    background-color: rgba(68, 138, 208, 0.877) ;
  }
 .nav-link{
   border-bottom: 2px solid rgb(255, 255, 255); 
   border-radius: 25px;
  font-weight: 700;
  color: rgb(255, 255, 255);
    padding: 4px 25px;
   margin-right: 21px;
  

  }
  h6:hover{
   color: rgb(0, 0, 0);
  }
  